USE [master]
GO
/****** Object:  Database [library_system]    Script Date: 7/8/2025 5:15:16 PM ******/
CREATE DATABASE [library_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\library_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\library_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library_system]
GO
/****** Object:  Table [dbo].[book_requests]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[request_date] [date] NULL,
	[status] [varchar](20) NULL,
	[request_type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[author] [varchar](100) NOT NULL,
	[isbn] [varchar](20) NOT NULL,
	[category] [varchar](50) NULL,
	[published_year] [int] NULL,
	[total_copies] [int] NULL,
	[available_copies] [int] NULL,
	[status] [varchar](20) NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_records]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[borrow_date] [date] NULL,
	[due_date] [date] NOT NULL,
	[return_date] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fines]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NOT NULL,
	[fine_amount] [decimal](6, 2) NULL,
	[paid_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[handled_requests]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[handled_requests](
	[handled_request_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[request_type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[handled_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](50) NOT NULL,
	[config_value] [varchar](100) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/8/2025 5:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[book_requests] ON 

INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status], [request_type]) VALUES (1, 3, 1, CAST(N'2025-05-01' AS Date), N'approved', N'return')
INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status], [request_type]) VALUES (2, 4, 2, CAST(N'2025-04-30' AS Date), N'approved', N'borrow')
INSERT [dbo].[book_requests] ([id], [user_id], [book_id], [request_date], [status], [request_type]) VALUES (3, 5, 3, CAST(N'2025-04-28' AS Date), N'pending', N'borrow')
SET IDENTITY_INSERT [dbo].[book_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [image]) VALUES (1, N'Effective Java', N'Joshua Bloch', N'9780134685991', N'Programming', 2018, 5, 3, N'active', N'EffecticeJava.jpg')
INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [image]) VALUES (2, N'Clean Code', N'Robert C. Martin', N'9780132350884', N'Software Engineering', 2008, 4, 4, N'active', N'CleanCode.jpg')
INSERT [dbo].[books] ([id], [title], [author], [isbn], [category], [published_year], [total_copies], [available_copies], [status], [image]) VALUES (3, N'Java: The Complete Reference', N'Herbert Schildt', N'9781260440232', N'Programming', 2020, 6, 5, N'active', N'javarefrence.jpg')
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[borrow_records] ON 

INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (21, 2, 4, CAST(N'2024-06-01' AS Date), CAST(N'2024-06-15' AS Date), NULL, N'borrowed')
INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (22, 2, 2, CAST(N'2024-06-20' AS Date), CAST(N'2024-07-01' AS Date), NULL, N'overdue')
INSERT [dbo].[borrow_records] ([id], [user_id], [book_id], [borrow_date], [due_date], [return_date], [status]) VALUES (24, 4, 2, CAST(N'2025-07-01' AS Date), CAST(N'2025-07-15' AS Date), NULL, N'borrowed')
SET IDENTITY_INSERT [dbo].[borrow_records] OFF
GO
SET IDENTITY_INSERT [dbo].[fines] ON 

INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (11, 22, CAST(182.50 AS Decimal(6, 2)), N'paid')
INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (12, 21, CAST(190.50 AS Decimal(6, 2)), N'paid')
INSERT [dbo].[fines] ([id], [borrow_id], [fine_amount], [paid_status]) VALUES (13, 22, CAST(182.50 AS Decimal(6, 2)), N'unpaid')
SET IDENTITY_INSERT [dbo].[fines] OFF
GO
SET IDENTITY_INSERT [dbo].[handled_requests] ON 

INSERT [dbo].[handled_requests] ([handled_request_id], [request_id], [user_id], [book_id], [request_type], [status]) VALUES (1, 2, 4, 2, N'borrow', N'handled')
INSERT [dbo].[handled_requests] ([handled_request_id], [request_id], [user_id], [book_id], [request_type], [status]) VALUES (2, 34, 2, 4, N'return', N'handled')
INSERT [dbo].[handled_requests] ([handled_request_id], [request_id], [user_id], [book_id], [request_type], [status]) VALUES (3, 35, 2, 2, N'return', N'handled')
SET IDENTITY_INSERT [dbo].[handled_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[system_config] ON 

INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (1, N'overdue_fine_per_day', N'0.50', N'Fine amount per day for overdue books (in dollars)')
INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (2, N'default_borrow_duration_days', N'14', N'Default number of days a book can be borrowed')
INSERT [dbo].[system_config] ([id], [config_key], [config_value], [description]) VALUES (3, N'unit_price_per_book', N'10.00', N'Default unit price used for book replacement or reference')
SET IDENTITY_INSERT [dbo].[system_config] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (1, N'Alice Admin', N'alice.admin@example.com', N'admin123', N'admin', N'active')
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (2, N'Thi No', N'No@example.com', N'no123', N'user', N'active')
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (3, N'Emma Reader', N'emma.user@example.com', N'user123', N'user', N'active')

SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__books__99F9D0A47E336DD4]    Script Date: 7/8/2025 5:15:16 PM ******/
ALTER TABLE [dbo].[books] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__system_c__BDF6033DA8EE6542]    Script Date: 7/8/2025 5:15:16 PM ******/
ALTER TABLE [dbo].[system_config] ADD UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164B64D33CE]    Script Date: 7/8/2025 5:15:16 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[book_requests] ADD  DEFAULT (N'borrow') FOR [request_type]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [total_copies]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [available_copies]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[borrow_records] ADD  DEFAULT (NULL) FOR [return_date]
GO
ALTER TABLE [dbo].[borrow_records] ADD  DEFAULT ('borrowed') FOR [status]
GO
ALTER TABLE [dbo].[fines] ADD  DEFAULT ((0.00)) FOR [fine_amount]
GO
ALTER TABLE [dbo].[fines] ADD  DEFAULT ('unpaid') FOR [paid_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[book_requests]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[book_requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fines]  WITH CHECK ADD FOREIGN KEY([borrow_id])
REFERENCES [dbo].[borrow_records] ([id])
ON DELETE CASCADE
GO
USE [master]
GO

SELECT * FROM users