<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>library_management.user_page_controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>library_management.user_page_controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowListController</servlet-name>
        <servlet-class>library_management.user_page_controllers.BorrowListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRequestsController</servlet-name>
        <servlet-class>library_management.user_page_controllers.BookRequestsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowRecordsController</servlet-name>
        <servlet-class>library_management.user_page_controllers.BorrowRecordsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>library_management.user_page_controllers.ErrorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>library_management.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>library_management.admin_page_controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>library_management.user_page_controllers.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmEditController</servlet-name>
        <servlet-class>library_management.controllers.ConfirmEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmEditController</servlet-name>
        <url-pattern>/ConfirmEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowListController</servlet-name>
        <url-pattern>/BorrowListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRequestsController</servlet-name>
        <url-pattern>/BookRequestsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowRecordsController</servlet-name>
        <url-pattern>/BorrowRecordsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/ErrorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
